* {
	margin: 0;
	padding: 0;
	background-color: #aed9e0;
	color: #5e6472
	
}

#logout {
	margin-left: 220px;
	margin-top: 50px;

}

.wrap {
	
	margin : 200px 500px 500px 500px;
	z-index: -1;
	min-height: 100%;
	padding-bottom: 20px;
}

#bodytest{
	margin-top: 200px;
}


.container p {
	max-width: 200%;
	padding: 15px 0 15px 0;
	
}




.absolute-center {
	width: 100%;
	text-align: center;
}


#option1, #option2, #option3, #option4 {
	display: none;
	margin-bottom: 10px;
}
.decor {
	text-decoration: none;
	font-size: 20px;
	margin-right: 20px;
	color: #fff;
	background: #0f4c5c;
	padding: 4px 8px;
	border: 0;
	cursor: pointer;
}


h1 {
	margin-top: -110px;
	text-align: center;
	font-style: italic;
	
}

.block img {
	max-width: 75%;
	border: 10px solid #76aee9;
}
#time {
	color: #5e6472;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 0.1em;
	border-bottom: 1px solid rgba(69, 54, 37, 0.2);
}
#result {
  font-size: 1.2em;  
}
#question {
  font-size: 1.5em;  
}
#stop {
  color: #5e6472;
  font-weight: bold;
	font-size: 1.1em;
	letter-spacing: 0.1em;
	border-bottom: 1px solid rgba(69, 54, 37, 0.2);
}
